@base-color: #1d252c;

@text-base: #fff;
@text-lighter: #aaa;

@background-image: "background.png";
@cursor: "pointer.png";
@font-size: 14px;

@px: (1/14rem);

@shadow-color-hard: rgba(0,0,0,0.7);
@shadow-color-soft: rgba(0,0,0,0.5);
@border-radius: 3*@px;
@border-radius-smaller: 2*@px;

@border-color-hi: @base-color + #606060;
@border-color-mid: @base-color + #101010;
@border-color-lo: @base-color - #202020;

@background-darker: @base-color + #101010;
@background-base: @base-color + #202020;
@background-lighter: @base-color + #303030;

@sizes: 1 2 4 6 8 10 12 14 16 20 24 28 32 40 48 56 64 72 80 88 96;
@display-modes: none inline inline-block block;
