/* ****************************************** */
.xui-list {
	display: block; box-sizing: border-box; overflow: hidden;
    box-shadow: inset 0px 4px 6px -5px @shadow-color-hard;
	border-radius: @border-radius; border: 1px solid @border-color-mid; background: @background-lighter;
}

.xui-list > span {
	position: relative; display: block; padding: 3*@px 6*@px;
}

.xui-list > span > em {
	position: absolute; font-size: 0.8em; font-style: normal; right: 12*@px; color: @text-lighter;
}

.xui-list > span:hover {
    background: @border-color-mid;
}

.xui-list > span.selected {
    background: @base-color;
}
