@import (reference) "./css/constants.less";

.repeatpx(@list, @prefix, @prop, @sel:~'', @i:1) when (@i <= length(@list)) {
	@value: extract(@list, @i);
	.@{prefix}-@{value} @{sel} { @{prop}: @value*@px; }
	.repeatpx(@list, @prefix, @prop, @sel, @i+1);
}

.repeat(@list, @prefix, @prop, @sel:~'', @i:1) when (@i <= length(@list)) {
	@value: extract(@list, @i);
	.@{prefix}-@{value} @{sel} { @{prop}: @value; }
	.repeat(@list, @prefix, @prop, @sel, @i+1);
}


/* ************************** */
html {
	font-size: @font-size; line-height: (@font-size + 2px);
}

.xui-app {
	position: absolute; left: 0; top: 0; width: 100vw; height: 100vh; margin: 0; padding: 0; overflow: hidden;
	background-image: if(@background-image="", none, url(@background-image));
	background-color: @base-color;
	color: @text-base;
}

* {
	cursor: if(@cursor="", default, e(%("url(%a) 2 2, auto", @cursor)));
}


/* ************************** */
.repeat(@display-modes, d, display);


/* ************************** */
.repeatpx(@sizes, p, padding);
.repeatpx(@sizes, pl, padding-left);
.repeatpx(@sizes, pr, padding-right);
.repeatpx(@sizes, pt, padding-top);
.repeatpx(@sizes, pb, padding-bottom);

.repeatpx(@sizes, m, margin);
.repeatpx(@sizes, ml, margin-left);
.repeatpx(@sizes, mr, margin-right);
.repeatpx(@sizes, mt, margin-top);
.repeatpx(@sizes, mb, margin-bottom);

.repeatpx(@sizes, ch-m, margin, ~'> *');
.repeatpx(@sizes, ch-ml, margin-left, ~'> *');
.repeatpx(@sizes, ch-mr, margin-right, ~'> *');
.repeatpx(@sizes, ch-mt, margin-top, ~'> *');
.repeatpx(@sizes, ch-mb, margin-bottom, ~'> *');


/* ************************** */
@import "./css/x-scrollable.less";

@import "./css/general.less";

@import "./css/xui-dialog.less";
@import "./css/xui-list.less";
@import "./css/xui-menubar.less";
