@import (reference) "./constants.less";

html {
	font-size: @font-size; line-height: (@font-size + 2px);
}

.xui-app {
	position: absolute; left: 0; top: 0; width: 100vw; height: 100vh; margin: 0; padding: 0; overflow: hidden;
	background-image: if(@background-image="", none, url(@background-image));
	background-color: @base-color;
}

* {
	cursor: if(@cursor="", default, e(%("url(%a) 2 2, auto", @cursor)));
}

@import "./css/dialog.less";
